.nb-header {
	background-color: var(--bulma-body-background-color);
}

.nb-toolbar {
	display: flex;
	gap: 0.25rem;
}

.nb-footer {
	position: sticky;
	bottom: 0;
	background-color: var(--bulma-body-background-color);
}
