// bulma
@use 'bulma/bulma.scss';

textarea.input {
	resize: vertical;
}

.navbar-menu {
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

a.navbar-item {
	display: flex;
	justify-items: center;
}
