// bulma
@use 'bulma/bulma.scss';

textarea.input {
	resize: vertical;
}

.navbar-menu {
	z-index: 1000;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

a.navbar-item {
	display: flex;
	justify-items: center;
}

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 10;
}
